# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Venv
.venv/
venv/
env/

# Editors
.vscode/
.idea/

# Env & secrets
.env
.env.*

# Databases & data
*.db
*.sqlite
*.sqlite3
data/*.db
data/*.sqlite*
data/imports/
data/logs/

# OS junk
.DS_Store
thumbs.db
